DateTime==4.3
Django==3.1.7
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
twitter-ads==8.0.0
twitter-ads-v2==0.1.1
gunicorn==20.0.4
django-heroku==0.3.1

